/*Common start*/
body{
     margin: 0;
     padding: 0;
}
/*Common end*/
/*Header start*/
header{
     border-bottom: 3px solid #F9FAFB;
     padding: 10px 0;
}

.container{
     width: 90%;
     /*border: 1px solid darkred;*/
     margin: 0 auto;
     overflow: hidden;
}
.logo{
     width: 10%;
     /*border: 1px solid darkred;*/
     float: left;
    
}
.logo img{
     width: 100%;
}
.menu{
     margin-bottom: 3px;
     width: 55%;
     /*border: 1px solid darkred;*/
     float: right;

}
.menu ul{
     float: right;
}
.menu ul li {
     list-style: none;
     float: left;

}     
.menu ul li a{
     font-family: sans-serif;
     font-size: 16px;
     font-weight: 400;
     color: #000242;
     text-decoration: none;
     margin: 0px 20px;
     display: inline-block;


}
.menu ul li:last-child a{
     margin-right: 0;

} 
/*header end*/

/*banner start*/
.banner{
     padding: 60px 0;
     /*border: 1px solid red;*/
}
.container2{
     width: 55%;
     margin: 0 auto;
     /*border: 1px solid green;*/
}
.b-content{
     text-align: center;

}

.b-content h1{
     margin: 0;
     font-family: sans-serif;
     font-size: 45px;
     font-weight: 700;
     color:   font-size: ;
     font-weight: ;
     color: #0F2656;
}
     

.b-content h2{
     margin: 10px 0;
     font-family: sans-serif;
     font-size: 45px;
     font-weight: 700;
     color: #008AFF ;
}

.b-content p{
     margin-top: 0;
     margin-bottom: 15px;
      font-family: sans-serif;
     font-size: 16px;
     font-weight: 700;
     color: #0F2656 ;
     line-height: 23px;
     word-spacing: 1px ;

}

.b_img{
     margin: 0 auto;
     width: 75%;
     /*border: 1px solid red;*/

}
.b_img img{
     width: 100%;

}

/*banner end*/
/*success start*/
.success{
     padding: 60px 0;

}
.s_content{
     overflow: hidden;
     font-family: sans-serif;

}
.s_left{
     width: 40% ;
     float: left;
     text-align: right;
     padding: 0 10px 0 20px ;
    

}
.s_left h2{
    
     font-size:42px ;
     font-weight:700;
     color: #F15767;
     margin: 0 0 10px;
}
.s_left p{
     
     font-size: 17px;
     font-weight:400 ;
     color: #0F2656;
     margin: 0;
     line-height: 25px;
     word-spacing: 1px;
}
.s_right{
     width: 50%;
     float: right;
     padding: 0 20px 0 10px ;
     

}
.s_right h1{
     font-size:42px;
     font-weight: 700;
     color: #0F2656 ;
     line-height:50px ;
     margin: 0;

}
/*feature start*/

/*feature end*/
.feature{}
.f_content{
     overflow: hidden;
}
.f_single{
     width: 12%;
     font-family: sans-serif;
     color: #0F2656;
     padding: 30px 1.5% 45px;
     float: left;
     margin: 2.5%;
}
.f_single:last-child{
     margin-right: 0;
}
.pink{
     background-color: #FDEBED;
}
.green{
     background-color: #EBF9F4;
}
.yellow{
     background-color: #FFF7E8 ;
}
.f_img{}
.f_img img{
     width: 100%;
}
.f_single h2{
     margin: 20px 0 ;
     font-size: 22px;
     font-weight: 700;
}
.f_single p{
     font-size: 16px;
     font-weight: 400;
     margin: 0;
}
/*success end*/
.footer{
     font-family: sans-serif;
     color: rgb(230, 230, 230);
     background-color:#008aff; 
     margin-top: 50px; 
} 
.footer_text{ 
     padding: 30px;
     font-size: 13px;
     text-align: center; 
}